.mobile {

  border-radius: 0 0 5% 5%;
}

.header-basketIcon {
  
  height: 18px !important;
}

.header-basketCount {
  font-size: large;
  color: white;
  text-decoration: underline #131921;
}

.options {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  width: 140px;
  height: 25px;
  background-color: #131921;
  text-decoration: underline #131921;
}

.header-optionBasket {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
