.checkout {
  display: flex;
}
.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.checkout-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
